.hero-section {
  --background-dark: #1b1f22;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --text-light: rgba(255, 255, 255, 0.75);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --width-container: 100%;

  align-items: center;
  background: var(--background-dark);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  padding: 0;
  font-family: var(--font-montserrat), "Montserrat", sans-serif;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  max-width: var(--width-container);
  width: 100%;
  height: 100vh;
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
  }
}

.card {
  list-style: none;
  position: relative;
  text-decoration: none;
}

.card {
  overflow: hidden;
  border-radius: 0;
}

.card:before {
  display: none;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: 0;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition:
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0.5) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: var(--spacing-m);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 2rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.2;
  word-spacing: 100vw;
}
